.day-container {
    border:1px solid gray;
    display: block;
    height: 100px;
    padding: 3px;
    width: 100px;
}

.is-weekend {
    background-color:  #EEE;
}

.disabled {
    opacity: 0.5;
}
