.list-reminders {
    height: 100px;
    width: 130px;
}

.item-reminder {
    text-overflow: ellipsis;
    cursor: pointer;
}

.date-indicator {
    cursor: pointer;
    padding: 3px;
}

.is-weekend {
    background-color:  #FCFCFF;

    .date-indicator {
        color: #6068d4;
    }
}

.disabled {
    opacity: 0.5;
}

.btn-more {
    cursor: pointer;
}
