.day-container {
    min-height: 125px;
}

.list-reminders {
    height: 75px;
    width: 130px;
}

.item-reminder {
    text-overflow: ellipsis;
    cursor: pointer;
}

.date-indicator {
    cursor: pointer;
    padding: 3px;
}

.is-weekend {
    background-color:  #FCFCFF;

    .date-indicator {
        color: #6068d4;
    }
}

.is-today {

    .date-indicator {
        background: #343a40;
        color: #fff;
        font-weight: bold;
    }
}

.disabled {
    opacity: 0.5;
}

.btn-more {
    cursor: pointer;
}
