<div class="day-container" [ngClass]="{ 'is-weekend': weekend, 'is-today': isToday }">
    <span class="date-indicator" [ngClass]="{ 'disabled': date.month() !== month }" (click)="addReminder()">{{ date.format('DD') }}</span>
    <ul class="position-relative list-unstyled list-reminders m-0 p-1 overflow-hidden">
        <li class="item-reminder badge w-100 px-1 text-left overflow-hidden"
            *ngFor="let reminder of reminders | slice:0:3"
            [ngClass]="'alert-'+reminder.color"
            (click)="viewReminder(reminder.id)">
            {{ reminder.reminder }}
        </li>
    </ul>
    <div ngbDropdown>
        <div class="badge btn-more btn-outline-secondary text-center w-100" *ngIf="reminders?.length > 3" ngbDropdownToggle>{{ reminders.length - 3 }} more</div>
        <div class="dropdown-menu w-100 p-0" ngbDropdownMenu>
            <button class="overflow-hidden" ngbDropdownItem
                class="item-reminder overflow-hidden"
                *ngFor="let reminder of reminders"
                [ngClass]="'alert-'+reminder.color"
                (click)="viewReminder(reminder.id)">
                {{ reminder.reminder }}
            </button>
        </div>
    </div>
</div>
