.day-container {
    display: block;
    height: 100px;
    padding: 3px;
    width: 100px;
}

.is-weekend {
    background-color:  #FCFCFF;

    .date-indicator {
        color: blue;
    }
}

.disabled {
    opacity: 0.5;
}
